<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Log In</h2>
                            <form
                                id="loginForm"
                                action="http://localhost:3000/users/login"
                                method="post"
                            >
                                <div
                                    id="errorMessage"
                                    class="alert alert-danger d-none"
                                ></div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        required
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        required
                                    />
                                </div>
                                <div class="text-center">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        Log In
                                    </button>
                                </div>
                                <div class="form-group text-center mt-3">
                                    <a href="/signup">Register</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Function to get the value of a specific cookie
            function getCookie(name) {
                const cookieValue = document.cookie.match(
                    "(^|;)\\s*" + name + "\\s*=\\s*([^;]+)"
                );
                return cookieValue ? cookieValue.pop() : "";
            }

            // Check if the token is missing in cookies and the current page is not the login page
            const token = getCookie("token");
            if (token) {
                // Redirect to the login page if the token is missing and the current page is not the login page
                window.location.href = "/index";
            }

            document
                .getElementById("loginForm")
                .addEventListener("submit", function (event) {
                    event.preventDefault();

                    // Convert form data to JSON format
                    const formData = new FormData(this);
                    const loginData = Object.fromEntries(formData.entries());
                    const jsonData = JSON.stringify(loginData);

                    // Create and send the request
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/users/login");
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            console.log(JSON.parse(xhr.responseText));

                            // Handle response
                            if (xhr.status === 200) {
                                const response = JSON.parse(xhr.responseText);
                                const token = response.data.token;
                                const userId = response.data.user._id;
                                document.cookie = `token=${token}; path=/; SameSite=None; Secure`;
                                document.cookie = `userId=${userId}; path=/; SameSite=None; Secure`;
                                window.location.href = "/index";
                            } else if (xhr.status === 401) {
                                const response = JSON.parse(xhr.responseText);
                                const errorMessage =
                                    document.getElementById("errorMessage");
                                errorMessage.textContent = response.message;
                                errorMessage.classList.remove("d-none");
                            }
                        }
                    };
                    xhr.send(jsonData);
                });
        </script>
    </body>
</html>
